@use "sass:map";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../pytch-mixins.scss";
@import "../pytch-variables.scss";

.welcome-text {
  font-size: 17px;

  h2,
  h3,
  h4 {
    font-family: $pytch-title-font;
  }

  // Override Bootstrap's RFS calculations with (mostly) fixed values to
  // avoid creeping resize when resizing window.
  h2 {
    font-size: 27px;
    @media screen and (min-width: 180px) {
      font-size: 15vw;
    }
    @media screen and (min-width: 213px) {
      font-size: 32px;
    }
  }
  h3 {
    font-size: 24px;
    @media screen and (min-width: 180px) {
      font-size: calc(100vw * 24 / 180);
    }
    @media screen and (min-width: 210px) {
      font-size: 28px;
    }
  }

  .pytch-summary {
    color: $pytch-colour-main-blue;
    text-align: center;
    max-width: 32rem;

    padding: 1rem;
    margin: -1rem auto 2rem;
  }
}

.Welcome-NewsLink {
  padding: 0.5rem;
  border-radius: 4px;
  background-color: $pytch-colour-main-yellow;
  max-width: min(calc(100vw - 2rem), 28rem, 90vw);
  margin: auto;
  text-align: center;
  p {
    margin: 0.5rem 0px;
  }
}
