@use "sass:map";
@import "../node_modules/bootstrap/scss/bootstrap";
@import "./pytch-mixins.scss";
@import "./pytch-variables.scss";

body.pytch-toplevel {
  font-family: $pytch-body-font;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;

  a,
  a:hover {
    text-decoration: none;
  }
}

code {
  font-family: $monospace-fonts;
}

.App {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  background-color: $main-bg-color;
  overflow-y: auto;
}

.unknown-route {
  max-width: 36rem;
  font-size: 1.25rem;
  background-color: var(--bs-danger-bg-subtle);
  color: black;
  padding: 2rem;
  border-radius: 8px;
  margin: auto;
}

.loading-in-progress {
  z-index: 1;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;

  .background {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    border-radius: 4px;
    background-color: black;
    opacity: 0.6;
  }

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  .content {
    z-index: 2;
    color: white;
    opacity: 1;
    font-size: 2rem;
    text-align: center;
  }
}

$tutorial-display-side-margin: 3rem;

.TutorialList {
  overflow-y: auto;
  flex-shrink: 1;
  flex-grow: 1;

  h1 {
    margin: 1.5rem 0px;
    text-align: center;
  }
  ul {
    margin: 0px #{$tutorial-display-side-margin};
    padding: 0px;
    list-style: none;
    li {
      margin: auto;
      max-width: 52rem;
      p {
        margin: 0px;
        padding: 1.25rem 0px;
        font-size: 1.125rem;
      }

      div:after {
        content: "";
        clear: both;
        display: table;
      }
    }
  }
  .image-container {
    float: right;
    margin: 2.5rem 2rem 0rem 2rem;
  }
  .dropdown-wrapper {
    float: right;
    margin: 1rem;
  }
  .loading-in-progress {
    p {
      font-size: 2rem;
    }
  }
  .loading-placeholder,
  .loading-error {
    margin: 0rem #{$tutorial-display-side-margin};
    border-radius: 4px;

    p {
      padding: 4rem;
      text-align: center;
    }
  }
  .loading-placeholder {
    background-color: $busy-overlay-bg-color;
    p {
      font-size: 1.5rem;
      color: white;
    }
  }
  .loading-error {
    background-color: var(--bs-danger-bg-subtle);
    p {
      font-size: 1.25rem;
      color: black;
    }
  }
  .button-wrapper {
    margin-top: 2.5rem;
    text-align: center;
  }
}

.alert.TutorialCard {
  background-color: $secondary-bg-color;
  position: relative;
  .info-badges {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;

    display: flex;
    flex-direction: row;
    align-items: start;

    .EditorKindThumbnail {
      &,
      img {
        border-radius: 3px;
      }
      box-shadow: none;
      margin-right: 0px;
      margin-left: 0.75rem;
    }

    p {
      padding: 0.25rem 0.5rem;
      background-color: mintcream;
      border-radius: 5px;
    }
  }

  h1 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  .button-bar {
    display: inline-block;
    button {
      margin: 0.5rem 1.5rem 1.5rem;

      &:first-child {
        margin-left: 0rem;
      }
    }
  }
}

.tutorial-list li {
  position: relative;
}

.tutorial-list.demo-only {
  width: 32rem;
  margin: auto;
  .button-bar {
    width: 100%;
    text-align: center;
    button {
      margin: 0.5rem 1.5rem 1.5rem;
    }
  }
}

.dropdown-item.danger {
  background-color: var(--bs-danger-bg-subtle);

  &:hover {
    background-color: var(--bs-danger-border-subtle);
  }
}

button.awaiting-action {
  position: relative;
  .spacing-text {
    visibility: hidden;
  }
  .spinner-container {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}

.modal.GenericConfirmActionModal {
  h4 p {
    margin: 0px;
  }
}

.modal.CreateProjectModal {
  .whether-include-example,
  .editor-kind {
    .option-buttons {
      margin-top: 0rem;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }
    .editor-thumbnail {
      margin-top: 1rem;
      text-align: center;
      img {
        max-width: 80%;
        box-shadow: 0px 0px 6px 4px $box-shadow-color;
      }
    }
  }
}

.GoogleAuthenticationStatusModal,
.GoogleTaskStatusModal {
  .modal-body.pending {
    text-align: center;
  }
  .spinner-border {
    margin: 1.5rem;
  }
}

.GoogleTaskStatusModal {
  .user-info {
    p {
      margin: 0px;
    }
    code {
      color: $pytch-colour-main-blue;
    }
    font-size: 1rem;
  }

  .outcome-summary {
    padding: 0.5rem;
    border-radius: 6px;
    &.successes {
      background-color: var(--bs-success-bg-subtle);
      margin-bottom: 1.5rem;
    }
    &.failures {
      background-color: var(--bs-danger-bg-subtle);
    }
  }
}

.ExceptionDisplay {
  @include full-center-middle();

  .content {
    background-color: var(--bs-danger-bg-subtle);

    max-width: 36rem;
    font-size: 1.25rem;
    color: black;
    padding: 2rem;
    border-radius: 8px;
    margin-bottom: 3rem;

    .button-container {
      margin-top: 2rem;
      text-align: center;
    }
  }
}

.EditorKindThumbnail {
  margin-right: 1.25rem;
  box-shadow: 0px 0px 6px 4px $box-shadow-color;
}
